.parkplace {
    .user-activity-img__container {
        width: 600px;
        padding: 2rem;
        margin: auto;
    }

    .use-case-diagram-img__container {
        width: 600px;
        padding: 2rem;
        margin: auto;
    }

    .activity-diagram-img__container {
        width: 600px;
        padding: 2rem;
        margin: auto;
    }

    .activity-diagram-img-2__container {
        width: 800px;
        padding: 2rem;
        margin: auto;
    }

    .sequence-diagram-img__container {
        width: 1000px;
        padding: 2rem;
        margin: auto;
    }

    .class-diagram-img__container {
        width: 300px;
        padding: 2rem;
        margin: auto;
    }

    .class-diagram-img-2__container {
        width: 800px;
        padding: 2rem;
        margin: auto;
    }

    .paypal-img-container {
        width: 600px;
        padding: 2rem;
        margin: auto;
    }
}