.personal-site {

    .application-architecture-img__container {
        width: 1000px;
        padding: 2rem;
        margin: auto; 
    }

    .virtual-DOM-img__container {
        width: 600px;
        padding: 2rem;
        margin: auto;
    }

    .virtual-DOM-img-2__container {
        width: 800px;
        padding: 2rem;
        margin: auto;
    }

    .normal-DOM-img__container {
        width: 600px;
        padding: 2rem;
        margin: auto;
    }

    .node-express-img__container {
        width: 800px;
        padding: 2rem;
        margin: auto;
    }

    .express-img__container {
        width: 600px;
        padding: 2rem;
        margin: auto;
    }

    .mongodb-img__container {
        width: 700px;
        padding: 2rem;
        margin: auto;
    }

    .code-snap {
        font-family: Consolas, Courier New, Courier, monospace;
        font-size: small;
        font-weight: bold;
        background-color: #eee;
        padding: 2rem;
        margin: 2rem;
    }
}